@font-face {
    font-family: 'OpenSans';
    src: url(../../Fonts/open-sans.zip)
}

@font-face {
    font-family: 'Lobster';
    src: url(../../Fonts/lobster/Lobster.otf)
}

*{
    list-style: none;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

nav{
    background-color: red;
    color: white;
    padding: 0vw 0vw 1vw 0vw;
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
            line-height: 7vw;
        }
        h1{
            font-size:5vw;
            font-family: Lobster;
        }
    }
}